* {
  /* font-family: "Edu VIC WA NT Hand", cursive; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* .edu-vic-wa-nt-hand-<uniquifier> {
  font-family: "Edu VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */